<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njusoft.grapro20.mapper.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.njusoft.grapro20.model.Project">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="cretime" jdbcType="TIMESTAMP" property="cretime" />
    <result column="ifchecked" jdbcType="INTEGER" property="ifchecked" />
    <result column="lastchecktime" jdbcType="TIMESTAMP" property="lastchecktime" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <association property="student" column="student_id" javaType="com.njusoft.grapro20.model.Student">
    <id property="id" column="sid"/>
    <result column="sname" property="name"/>
    <result column="sintro" property="intro"/>
    <result column="age" property="age"/>
    <result column="college" property="college"/>
    <result column="phone" property="phone"/>
    </association>
  </resultMap>
  <resultMap id="StatisticMap" type="ProjectStat">
    <result property="month" column="p_month" ></result>
    <result property="num" column="p_num" ></result>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njusoft.grapro20.model.Project">
    insert into project (id, name, type, 
      intro, amount, student_id, 
      cretime, ifchecked, lastchecktime, 
      message)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{intro,jdbcType=VARCHAR}, #{amount,jdbcType=DOUBLE}, #{studentId,jdbcType=INTEGER}, 
      #{cretime,jdbcType=TIMESTAMP}, #{ifchecked,jdbcType=INTEGER}, #{lastchecktime,jdbcType=TIMESTAMP}, 
      #{message,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.njusoft.grapro20.model.Project">
    update project
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DOUBLE},
      student_id = #{studentId,jdbcType=INTEGER},
      cretime = #{cretime,jdbcType=TIMESTAMP},
      ifchecked = #{ifchecked,jdbcType=INTEGER},
      lastchecktime = #{lastchecktime,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, type, intro, amount, student_id, cretime, ifchecked, lastchecktime, 
    message
    from project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select project.id, project.name, type, project.intro, amount, student_id, cretime, project.ifchecked, lastchecktime,
    message,s.id sid,s.name sname, s.intro sintro,s.age age,s.college college,s.phone phone
    from project INNER join student s
    where project.student_id=s.id and project.ifchecked=1
  </select>
  <select id="selCheckedByUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, type, intro, amount, student_id, cretime, ifchecked, lastchecktime,
    message
    from project
    where student_id=#{userid} and ifchecked=1
  </select>
  <select id="selJoinedByUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select project.id, name, type, intro, amount, project.student_id, project.cretime
    from project inner join project_member
    where project_member.student_id=#{userid} and project_member.ifchecked=1 and project_member.project_id=project.id
  </select>
  <select id="selStudentProByUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select project.id, project.name, type, project.intro, amount, project.student_id, project.cretime
    from project inner join admin inner join student
    where admin.id=#{userid} and admin.name=student.college and project.student_id=student.id and project.ifchecked=1
  </select>
  <select id="selCheckedByInvestor" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select project.id, name, type, intro, project.amount, student_id,project.cretime
    from project inner join project_investment
    where investor_id=#{userid} and project_investment.ifchecked=1 and project_investment.project_id=project.id
  </select>
  <select id="selUncheckedByUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select id, name, type, intro, amount, student_id, cretime, ifchecked, lastchecktime,
  message
  from project
  where student_id=#{userid} and ifchecked=0
</select>
  <select id="selUncheckedBySchool" parameterType="java.lang.String" resultMap="BaseResultMap">
    select project.id, project.name, type, project.intro, amount, student_id, cretime, project.ifchecked, lastchecktime,
    message
    from project INNER join student
    where student.college=#{name} and student.id=project.student_id and project.ifchecked!=1
  </select>
  <select id="queryMonthNum" parameterType="ProjectStat" resultMap="StatisticMap">
    select month(p.cretime) p_month,count(p.id) p_num from project p
    inner join student s inner join admin a
    on p.student_id=s.id and s.college=a.name
    where year(p.cretime)=#{year} and a.id=#{userId}
    group by month(p.cretime)
  </select>
</mapper>