<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njusoft.grapro20.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.njusoft.grapro20.model.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="college" jdbcType="VARCHAR" property="college" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="ifchecked" jdbcType="INTEGER" property="ifchecked" />
    <result column="teamid" jdbcType="INTEGER" property="teamid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.njusoft.grapro20.model.Student">
    insert into student (id, password, name, 
      intro, age, college, 
      phone, ifchecked, teamid
      )
    values (#{id,jdbcType=INTEGER}, #{password,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{intro,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{college,jdbcType=VARCHAR}, 
      #{phone,jdbcType=INTEGER}, #{ifchecked,jdbcType=INTEGER}, #{teamid,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.njusoft.grapro20.model.Student">
    update student
    set password = #{password,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      college = #{college,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      ifchecked = #{ifchecked,jdbcType=INTEGER},
      teamid = #{teamid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, password, name, intro, age, college, phone, ifchecked, teamid
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, password, name, intro, age, college, phone, ifchecked, teamid
    from student
  </select>
</mapper>